--
-- PostgreSQL database dump
--

\restrict GnlerZpYskGTGZqR9wFrd0vfw84l5bdm4AC6q1Dw4R9qprLKzx1vIFpke3k8c63

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: user_form
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO user_form;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: user_form
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO user_form;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.assignments (
    id uuid NOT NULL,
    form_id uuid NOT NULL,
    user_id uuid NOT NULL,
    assigned_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL
);


ALTER TABLE public.assignments OWNER TO user_form;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    action character varying(100) NOT NULL,
    entity character varying(100) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO user_form;

--
-- Name: evaluations; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.evaluations (
    id uuid NOT NULL,
    response_id uuid NOT NULL,
    total_score numeric(6,2) NOT NULL,
    max_score numeric(6,2) NOT NULL,
    passed boolean NOT NULL,
    evaluated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.evaluations OWNER TO user_form;

--
-- Name: forms; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.forms (
    id uuid NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    form_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    owner_id uuid NOT NULL,
    cloned_from uuid,
    banner_image_url character varying(500),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    allow_multiple_responses boolean DEFAULT false NOT NULL
);


ALTER TABLE public.forms OWNER TO user_form;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.invitations (
    id uuid NOT NULL,
    form_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    max_attempts integer DEFAULT 1 NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.invitations OWNER TO user_form;

--
-- Name: question_options; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.question_options (
    id uuid NOT NULL,
    question_id uuid NOT NULL,
    option_text character varying(255) NOT NULL,
    is_correct boolean DEFAULT false NOT NULL
);


ALTER TABLE public.question_options OWNER TO user_form;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.questions (
    id uuid NOT NULL,
    form_id uuid NOT NULL,
    question_text text NOT NULL,
    question_type character varying(30) NOT NULL,
    score numeric(5,2),
    required boolean DEFAULT true NOT NULL,
    image_url character varying(500)
);


ALTER TABLE public.questions OWNER TO user_form;

--
-- Name: response_details; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.response_details (
    id uuid NOT NULL,
    response_id uuid NOT NULL,
    question_id uuid NOT NULL,
    answer_text text,
    selected_option_id uuid
);


ALTER TABLE public.response_details OWNER TO user_form;

--
-- Name: responses; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.responses (
    id uuid NOT NULL,
    form_id uuid NOT NULL,
    user_id uuid,
    invitation_id uuid,
    started_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    finished_at timestamp(6) without time zone
);


ALTER TABLE public.responses OWNER TO user_form;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO user_form;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: user_form
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO user_form;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user_form
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: scores; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.scores (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    form_id uuid NOT NULL,
    score numeric(6,2) NOT NULL,
    attempt integer NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.scores OWNER TO user_form;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.user_roles (
    user_id uuid NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_roles OWNER TO user_form;

--
-- Name: users; Type: TABLE; Schema: public; Owner: user_form
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(150) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO user_form;

--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
3f6fc582-6239-4b30-abac-354ed05ccb69	cf16c3885d304992992c3f5c680cf1b72b4a0cd5f2a79047f78f85858927f712	2025-12-20 05:26:07.841891+00	20251220052607_init	\N	\N	2025-12-20 05:26:07.781642+00	1
\.


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.assignments (id, form_id, user_id, assigned_at, status) FROM stdin;
b54c1792-6403-479f-b43b-d1f74f641dda	39b084d5-1461-404a-b45d-f7273da72bc4	f512dd39-f4f1-4fa0-b1b3-d24893b14f3f	2025-12-21 21:15:42.28	PENDING
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.audit_logs (id, user_id, action, entity, created_at) FROM stdin;
\.


--
-- Data for Name: evaluations; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.evaluations (id, response_id, total_score, max_score, passed, evaluated_at) FROM stdin;
f8c91ebd-a978-48e7-bf56-851b4416d8a6	b89e862d-4c20-49ac-baeb-3b58ffe8cdb0	20.00	20.00	t	2025-12-21 22:49:10.867
bdfe51bb-c88b-4dcc-96fc-07a845cd233b	ad9f707b-a7f7-4f1a-ae64-d75918247787	0.00	20.00	f	2025-12-22 00:35:49.541
\.


--
-- Data for Name: forms; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.forms (id, title, description, form_type, status, owner_id, cloned_from, banner_image_url, created_at, allow_multiple_responses) FROM stdin;
39b084d5-1461-404a-b45d-f7273da72bc4	Banner	Banner	EXAM	PUBLISHED	2f839637-37de-4f41-b532-53af9c71cc45	\N	/uploads/banners/b0f6f6b4-9d7b-4257-8c27-26e457cb92ad-reze.jpeg	2025-12-21 18:23:39.478	f
fc8cdabe-ac1b-4d25-ac50-35b0f2bc6b8d	Banner (Copia)	Banner	EXAM	DRAFT	2f839637-37de-4f41-b532-53af9c71cc45	39b084d5-1461-404a-b45d-f7273da72bc4	/uploads/banners/b0f6f6b4-9d7b-4257-8c27-26e457cb92ad-reze.jpeg	2025-12-22 01:20:47.409	f
\.


--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.invitations (id, form_id, token, expires_at, max_attempts, created_at) FROM stdin;
bea33af4-4182-4892-a289-2887d227f750	39b084d5-1461-404a-b45d-f7273da72bc4	da8989eb-c7f8-459a-b3f2-d264ded82697	2026-12-21 22:25:44.813	1	2025-12-21 22:25:44.817
\.


--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.question_options (id, question_id, option_text, is_correct) FROM stdin;
66dcfd2e-bf94-4c04-add2-69a0274b290d	4f0a7079-a070-48dd-b988-93a7423eb47c	4	t
68fbc7f7-f8ce-4d3a-86df-08ef9806fce3	4f0a7079-a070-48dd-b988-93a7423eb47c	1	f
b00fd725-9790-4642-9e8c-508bd87487d8	4f0a7079-a070-48dd-b988-93a7423eb47c	3	f
11d24d02-2d5a-40e8-8942-73ee64fe009a	23162a6d-3df6-4ff7-b6e2-1c6092660dbe	4	t
29053f32-eef7-4338-ad09-8e2660c48c52	23162a6d-3df6-4ff7-b6e2-1c6092660dbe	1	f
aa8672a3-78df-4dc6-8f86-dd44d9f0f4be	23162a6d-3df6-4ff7-b6e2-1c6092660dbe	3	f
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.questions (id, form_id, question_text, question_type, score, required, image_url) FROM stdin;
4f0a7079-a070-48dd-b988-93a7423eb47c	39b084d5-1461-404a-b45d-f7273da72bc4	2+2	multiple	20.00	t	\N
20ead190-afd2-4a37-bcf4-be3b4036561a	39b084d5-1461-404a-b45d-f7273da72bc4	Que te parece este formulario	scale	0.00	t	\N
23162a6d-3df6-4ff7-b6e2-1c6092660dbe	fc8cdabe-ac1b-4d25-ac50-35b0f2bc6b8d	2+2	multiple	20.00	t	\N
8941bc46-8008-428b-bc74-90a4c50d3dfa	fc8cdabe-ac1b-4d25-ac50-35b0f2bc6b8d	Que te parece este formulario	scale	0.00	t	\N
\.


--
-- Data for Name: response_details; Type: TABLE DATA; Schema: public; Owner: user_form
--



--
-- Data for Name: responses; Type: TABLE DATA; Schema: public; Owner: user_form
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.roles (id, name) FROM stdin;
1	ADMIN
2	USER
\.


--
-- Data for Name: scores; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.scores (id, user_id, form_id, score, attempt, created_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.user_roles (user_id, role_id) FROM stdin;
2f839637-37de-4f41-b532-53af9c71cc45	1
f512dd39-f4f1-4fa0-b1b3-d24893b14f3f	2
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user_form
--

COPY public.users (id, email, password_hash, full_name, is_active, created_at) FROM stdin;
2f839637-37de-4f41-b532-53af9c71cc45	jloadenegri@gmail.com	$2b$12$uMfb4OQhJ/QTh7WeHFiYk.eTJpojOPCHHkblDcHE/UoBulX.l9eNC	Joaquin Loa Denegri	t	2025-12-20 06:46:18.91
f512dd39-f4f1-4fa0-b1b3-d24893b14f3f	prueba@gmail.com	$2b$10$yWfEurtfUuKHfw8KLkP7sO2A5AHHaUJL7W8GqIz.KNLE5NyuVe.d6	Usuario Prueba Pruebin	t	2025-12-21 20:53:23.927
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user_form
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: evaluations evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_pkey PRIMARY KEY (id);


--
-- Name: forms forms_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT forms_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: response_details response_details_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.response_details
    ADD CONSTRAINT response_details_pkey PRIMARY KEY (id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: scores scores_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: assignments_form_id_user_id_key; Type: INDEX; Schema: public; Owner: user_form
--

CREATE UNIQUE INDEX assignments_form_id_user_id_key ON public.assignments USING btree (form_id, user_id);


--
-- Name: evaluations_response_id_key; Type: INDEX; Schema: public; Owner: user_form
--

CREATE UNIQUE INDEX evaluations_response_id_key ON public.evaluations USING btree (response_id);


--
-- Name: invitations_token_key; Type: INDEX; Schema: public; Owner: user_form
--

CREATE UNIQUE INDEX invitations_token_key ON public.invitations USING btree (token);


--
-- Name: roles_name_key; Type: INDEX; Schema: public; Owner: user_form
--

CREATE UNIQUE INDEX roles_name_key ON public.roles USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: user_form
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: assignments assignments_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.forms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: assignments assignments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: evaluations evaluations_response_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_response_id_fkey FOREIGN KEY (response_id) REFERENCES public.responses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: forms forms_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.forms
    ADD CONSTRAINT forms_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invitations invitations_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.forms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: question_options question_options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: questions questions_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.forms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: response_details response_details_response_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.response_details
    ADD CONSTRAINT response_details_response_id_fkey FOREIGN KEY (response_id) REFERENCES public.responses(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: responses responses_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.forms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: responses responses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: scores scores_form_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_form_id_fkey FOREIGN KEY (form_id) REFERENCES public.forms(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: scores scores_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.scores
    ADD CONSTRAINT scores_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user_form
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: user_form
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict GnlerZpYskGTGZqR9wFrd0vfw84l5bdm4AC6q1Dw4R9qprLKzx1vIFpke3k8c63

